* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    padding: 18px;
}

.sectionHero{
    margin-top: 30px;
}* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


.container-hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}

.hero-information h2 {
    font-size: 2.5rem;
    font-weight: 800;
    color: hsl(240, 100%, 5%);
    margin: 20px 0 ;
}

.information-text p {
    font-size: 0.9rem;
    font-weight: 400;
    color: hsl(236, 13%, 42%);
    margin: 20px 0 ;
    line-height: 26px;
}

.information-text a {
    display: inline-block;
    font-size: 0.95rem;
    font-weight: 400;
    background-color: hsl(5, 85%, 63%);
    color: #fff;
    margin: 6px 0 ;
    line-height: 5px;
    text-decoration: none;
    padding: 20px;
    letter-spacing: 4px;
}

/* New */
.container-news{
    
    margin: 60px 0;
    background-color: hsl(240, 100%, 5%);
    padding:  26px ;
}

.container-news h2 ,.container-news h3{
    font-weight: 800;
    margin: 20px 0 ;
    letter-spacing: 1px;
}


.container-news h2 {
    font-size: 2.1rem;
    color:  hsl(35, 77%, 62%);
    margin-bottom: 38px;
}

.container-news h3{
    font-size: 1.3rem;
    color:   hsl(36, 100%, 99%);
    margin: 20px 0 ;

}

.container-news p {
    font-size: 0.9rem;
    font-weight: 400;
    color: #BFC0D5;
    margin: 20px 0 30px 0 ;
    line-height: 26px;
}

hr{
    border: 1px solid #5F5F79;   
}


/*  Blog New */

.blogNew{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
   
}

.blogNew img{
    width: 40%;
    height: 100%;
    
}

.blogNew-text {
    width: 60%;
    padding: 0 20px;
}

.blogNew-text h3 {
    font-size: 1.8rem;
    color: #C7C6CF;
    margin-bottom: 10px;
}

.blogNew-text h4{
    font-size: 1.2rem;
    color: #000019;
    font-size: bolder;
    margin-bottom: 10px;
}

.blogNew-text p {
    font-size: 0.9rem;
    color: #656368;
    line-height: 24px;
}


footer {
    
    margin: 10px 0;
    text-align: center;
}

footer p, footer a {
    font-size: 1rem;
    color: #656368;
    line-height: 24px;
}

footer a {
   
    text-decoration: none;
    margin: 0 10px;
    font-weight: bolder;
}


